@model List<Address>
<partial name="_Notification"/>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Address List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="col-12 pb-2 text-end">
            <a asp-area="Admin" asp-controller="Address" asp-action="AddAddress" class="btn btn-outline-primary">
                <i class="bi bi-plus-square-fill"></i> Add New Address
            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Address ID</th>
                    <th>Street</th>
                    <th>Suburb</th>
                    <th>State</th>
                    <th>Postcode</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.AddressId</td>
                        <td>@obj.Street</td>
                        <td>@obj.Suburb</td>
                        <td>@obj.State</td>
                        <td>@obj.Postcode</td>
                        <td>
                            <div class="w-20 btn-group">
                                <a asp-area="Admin" asp-controller="Address" asp-action="EditAddress" asp-route-addressId="@obj.AddressId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-fill"></i> Edit
                                </a>
                                <a asp-area="Admin" asp-controller="Address" asp-action="DeleteAddress" asp-route-addressId="@obj.AddressId" class="btn btn-danger">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
