@model List<PartCategory>
<partial name="_Notification" />
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Part Category List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="col-12 pb-2 text-end">
            <a asp-area="Admin" asp-controller="PartCategory" asp-action="AddPartCategory" class="btn btn-outline-primary">
                <i class="bi bi-plus-square-fill"></i> Add New Part Category
            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>VIN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.CategoryId</td>
                        <td>@obj.CategoryName</td>
                        <td>@obj.VIN</td>
                        <td>
                            <div class="w-20 btn-group">
                                <a asp-area="Admin" asp-controller="PartCategory" asp-action="EditPartCategory" asp-route-CategoryId="@obj.CategoryId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-fill"></i> Edit
                                </a>
                                <a asp-area="Admin" asp-controller="PartCategory" asp-action="DeletePartCategory" asp-route-CategoryId="@obj.CategoryId" class="btn btn-danger">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
