@model List<Part>
<partial name="_Notification"/>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Part List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="col-12 text-end pb-2">
            <a asp-controller="Part" asp-action="AddPart" class="btn btn-outline-primary">
                <i class="bi bi-plus-square-fill"></i> Add New Part
            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Part ID</th>
                    <th>Part Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.PartId</td>
                        <td>@obj.PartName</td>
                        <td>@obj.Description</td>
                        <td>
                            <div class="w-20 btn-group" role="group">

                                <a asp-area="Admin" asp-controller="Part" asp-action="EditPart" asp-route-partId="@obj.PartId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>


                                <a asp-area="Admin" asp-controller="Part" asp-action="DeletePart" asp-route-partId="@obj.PartId" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </a>


                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
